@import 'helpers/variables';
@import 'helpers/animations';

// * { border: 1px solid blue; }

body {
  font-size: 4em;
}

.slide {
  min-height: 100vh;
  color: white;

  &:first-child {
    background-color: $raspberry;
  }

  &:nth-child(2) {
    background-color: $blueberry;
  }

  &:nth-child(3) {
    background-color: $kale;
  }

  &:nth-child(4) {
    background-color: $tomato;
  }
}

.splash {
  .slide-container {
    padding-left: 1vw;
    display: inline-block;
    margin: 20vh auto;
  }

  .elephant {
    height: 0.85em;
    padding-bottom: 0.15em;
    padding-right: 0.1em;
    color: white;
    // border: 1px solid blue;
  }

  h1, p {
    line-height: 1em;
  }

  h1 {
    font-size: 18vw;
  }

  p {
    font-size: 5vw;
    text-align: right;
  }
}

a, a:visited, a:active, a:link {
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 4px dashed white;
}

.about, .mission, .follow {

  .slide-container {
    padding: 10% 5%;
  }
}

.next-slide {
  position: fixed;
  right: 4vw;
  bottom: 0;
  width: 150px;
  height: 110px;
  border-radius: 10px 10px 0 0;
  background: $bubblegum;
  z-index: 9999;
  cursor: pointer;

  .glyphicon-chevron-down {
    animation: $bounce;
    font-size: 75px;
    top: 30%;
    left: 27%;
  }

  border: {
    top: $white-border;
    right: $white-border;
    left: $white-border;
  }
}

.social-icons {
  text-align: center;

  a:hover {
    border-bottom: 0;
  }

  .twitter-btn, .facebook-btn {
    display: inline-block;
    border: $white-border;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    margin: 0.5em 5%;
    transition: background 0.3s;

    i {
      position: relative;
      top: 0.2em;
      left: 0;
    }
  }

  .twitter-btn:hover {
    background: #00ACEE;
  }

  .facebook-btn:hover {
    background: #3B5998;
  }
}

@media only screen and (max-width: 544px) {
  body {
    font-size: 3em;
  }
}
