@import 'helpers/variables';
@import 'helpers/animations';

// * { border: 1px solid blue; }

.slide {
  min-height: 100vh;
  color: white;

  &:first-child {
    background-color: $raspberry;
  }

  &:nth-child(2) {
    background-color: $blueberry;
  }

  &:nth-child(3) {
    background-color: $kale;
  }

  &:nth-child(4) {
    background-color: $tomato;
  }

  &:last-child {
    background-color: $eggplant;
  }
}

.splash {
  .slide-container {
    padding-left: 1vw;
    display: inline-block;
    margin: 20vh auto;
  }

  h1, p {
    line-height: 1em;
  }

  h1 {
    font-size: 20vw;
  }

  p {
    font-size: 5vw;
    text-align: right;
  }
}

.about {
  font-size: 2.5em;

  .slide-container {
    padding: 10% 5%;
  }
}

.next-slide {
  position: fixed;
  right: 3vw;
  bottom: 0;
  width: 10em;
  height: 8em;
  border-radius: 10px 10px 0 0;
  background: $bubblegum;

  .glyphicon-chevron-down {
    animation: $bounce;
    font-size: 4em;
    top: 0.75em;
    left: 0.75em;
  }

  border: {
    top: $white-border;
    right: $white-border;
    left: $white-border;
  }
}
